html, body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    overflow: auto;
}

footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.nav-name{
  padding-top: 2px;
  margin-left: 5px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #5148ad;
}

    /* HOME PAGE */


.main-div {
   padding-top: 50px;
   height: auto;
   text-align: center;
}

.index-name {
  padding-top: 20px;
  font-family: 'Khand', sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.index-title{
  padding-top: 10px;
  padding-bottom: 10px;
}


.index-intro-summary p{
  text-align: left;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 60px;

}

.index-intro {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.8rem;
}


.index-image{
  height: 190px;
  width: 190px;
  border-radius: 90px;
}

@media only screen
      and (min-device-width: 320px)
      and (max-device-width: 600px)
      and (-webkit-min-device-pixel-ratio: 2) {

      .main-div {
        padding-top: 40px;
        height: auto;
        text-align: center;
        padding-bottom: 20px;
      }

      .index-name {
        padding-top: 20px;
        font-family: 'Khand', sans-serif;
        font-size: 5rem;
        font-weight: 600;
      }

      .index-intro{
        font-size: 1.2rem;
      }

}

/* NAVIGATION */
.nav-con {
    padding-left: 60px;
    padding-right: 40px;
}

@media only screen
      and (min-device-width: 320px)
      and (max-device-width: 600px)
      and (-webkit-min-device-pixel-ratio: 2) {
        .nav-con {
            padding-left: 15px;
            padding-right: 10px;
        }
}

.nav-item {
    margin-left: 40px;
    font-size: 1.2rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}


/* BLOG PAGE */
.blog-home {
  padding: 80px;
}

.page-heading{
  font-family: 'Khand', sans-serif;
  font-size: 5rem;
  font-weight: 700;
}


/* BLOG CARD CUSTOMIZATION */

.blog-header {
  background-color: #141313;
}

.card-div{
  margin: 10px;
}

.post-list {
  text-decoration: none;
}

.post-header-title {
  margin-left: 20px;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 400;
  padding-top: 5px;
}


.post-grid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.read-btn {
  float: right;
  margin-right: 30px;
}

/* POST PAGE */
.post-container {
  padding: 40px;
}

.post-title {
  font-family: 'Khand', sans-serif;
  font-size: 3rem;
}


/* RESUME PAGE */
.resume-container {
  padding: 20px 130px;
  margin-left: 10px;
}


.resume-heading {
  margin-top: 40px;
  text-align: left;
}

/* RESUME - Name & Title Custom */
.resume-name{
  font-size: 6.9rem;
  font-family: 'Khand', sans-serif;
  font-weight: 700;
}

.insert-purple{
  color: #594EBE;
}

.resume-heading-hr{
  color: black;
}

.resume-job-titles {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  padding-left: 10px;
}

/* RESUME - Personal Summary */

.personal-summary {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.h2-personal-summary {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.p-summary {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

/* RESUME - WORK EXPERIENCE */
.work-experience {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.h2-work-experience {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.company-name{
  font-family: 'Khand', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.job-duties {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

/* RESUME- Skills Section */


.skill-container{
font-size: 1.2rem;
margin-top: 30px;
margin-left: 20px;
margin-right: 20px;
}

.h2-key-skills {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.skills-list {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

/* RESUME - Education and Certification */
.education-container{
font-size: 1.2rem;
margin-top: 30px;
margin-left: 20px;
margin-right: 20px;
}

.h2-education {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.education-list {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  list-style-type: none;
}

.cert-names {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

.cert-images-grid {
  text-align: center;
  padding: 10px;
  margin-right: 40px;
  margin-left: 10px;
}

.cert-image-ccna {
  height: 140px;
  width: 140px;
}

.cert-images-sec{
  height: 148px;
  width:148px;
}

.cert-images-aws-saa{
  height: 130px;
  width: 130px;
}
