body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
  }

footer {
    position: absolute;
    right: 0;
    bottom:0;
    left:0;
    }

    /* HOME PAGE */
    @media screen and (max-width: 600px) {
      .nav-con {
        padding-left: 30px;
        padding-right: 20px;
      }

      .main-div {
        padding-top: 40px;
        height: auto;
        text-align: center;
      }

      .index-name {
        padding-top: 30px;
        font-family: 'Khand', sans-serif;
        font-size: 3rem;
        font-weight: 600;
      }
    }

.main-div {
   padding-top: 30px;
   text-align: center;
}

.index-name {
  padding-top: 20px;
  font-family: 'Khand', sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.index-title{
  padding-top: 10px;
  padding-bottom: 10px;
}


.intro-div {
  text-align: left;
<<<<<<< HEAD
  padding-top: 10px;
}

@media only screen and (min-width: 600px){
  .intro-div {
    text-align: left;
    padding-top: 10px;
  }

  .index-intro {
    font-size: 1.2rem;
  }

=======
  padding-top: 20px;
>>>>>>> d39441b8d7cb3b39328e080186c6598723b53452
}


.index-intro {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
}

.index-image{
  height: 180px;
  width: 180px;
  border-radius: 90px;
}

/* NAVIGATION */
.nav-con {
    padding-left: 60px;
    padding-right: 40px;
}

.nav-item {
    margin-left: 30px;
    font-size: 1.2rem;
}

/* BLOG PAGE */
.blog-home {
  padding: 80px;
}

.page-heading{
  font-family: 'Khand', sans-serif;
  font-size: 5rem;
  font-weight: 700;
}


/* BLOG CARD CUSTOMIZATION */

.blog-header {
  background-color: #141313;
}

.card-div{
  margin: 10px;
}

.post-list {
  text-decoration: none;
}

.post-header-title {
  margin-left: 20px;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 400;
  padding-top: 5px;
}


.post-grid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.read-btn {
  float: right;
  margin-right: 30px;
}

/* POST PAGE */
.post-container {
  padding: 40px;
}

.post-title {
  font-family: 'Khand', sans-serif;
  font-size: 3rem;
}


/* RESUME PAGE */
.resume-container {
  padding: 20px 130px;
  margin-left: 10px;
}


.resume-heading {
  margin-top: 40px;
  text-align: left;
}

/* RESUME - Name & Title Custom */
.resume-name{
  font-size: 6.9rem;
  font-family: 'Khand', sans-serif;
  font-weight: 700;
}

.insert-purple{
  color: #594EBE;
}

.resume-heading-hr{
  color: black;
}

.resume-job-titles {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  padding-left: 10px;
}

/* RESUME - Personal Summary */

.personal-summary {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.h2-personal-summary {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.p-summary {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

/* RESUME - WORK EXPERIENCE */
.work-experience {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.h2-work-experience {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.company-name{
  font-family: 'Khand', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.job-duties {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

/* RESUME- Skills Section */


.skill-container{
font-size: 1.2rem;
margin-top: 30px;
margin-left: 20px;
margin-right: 20px;
}

.h2-key-skills {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.skills-list {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

/* RESUME - Education and Certification */
.education-container{
font-size: 1.2rem;
margin-top: 30px;
margin-left: 20px;
margin-right: 20px;
}

.h2-education {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
}

.education-list {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  list-style-type: none;
}

.cert-names {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
}

.cert-images-grid {
  text-align: center;
  padding: 10px;
  margin-right: 40px;
  margin-left: 10px;
}

.cert-image-ccna {
  height: 140px;
  width: 140px;
}

.cert-images-sec{
  height: 148px;
  width:148px;
}

.cert-images-aws-saa{
  height: 130px;
  width: 130px;
}
